
  <div class="container">
    <div class="row">
      <div class="col-xs-6 mx-auto text-center" *ngFor="let Parkinfo of Parkinfo">
        <h3>{{Parkinfo['Company_name']}}</h3>
        <h4>{{Parkinfo['Address']}}</h4>
        <h4>{{Parkinfo['Mobile_no']}}</h4>
      </div>
    </div>
  </div>  
  <h1 name="date" class="time">{{TimeFormat}}</h1>
  <form #Vechiceinfo ="ngForm" (ngSubmit)= "addVehicleformdata(Vechiceinfo.value)">
    <div class="container form-div mt-5" >
        <div class="row">
            <div class="col-xs-3">
                <input type="text" name="Statecode" class="v-code" [value]="stateCode" [(ngModel)]='stateCode' maxlength="2">
            </div>
            <div class="col-xs-3">
                <input type="text" name="DistrictCode" class="v-code" [value]="districtCode" [(ngModel)]='districtCode' maxlength="2">
            </div>
            <div class="col-xs-3">
                <input type="text" name="Alpahabetcode" class="v-code" [(ngModel)]='areaCode' maxlength="2">
            </div>
            <div class="col-xs-3">
                <input type="text" name="Vnumber" class="v-code-number" [(ngModel)]='vechNo' maxlength="4">
            </div>
        </div>
        <div class="mt-3">
          <input class="btn btn-lg w-50 btn-success" type="submit" value="Print">
        </div>
      </div>
    </form>
  